@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", sans-serif;
}

.page-background {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #19A1AE;
    position: relative;
}

.page-background::before {
        content: "";
        width: 978px;
        height: 976px;
        position: absolute;
        border-radius: 50%;
        z-index: 0;
        transform: translate(-50%, -50%) rotate(-190deg);
        background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
    }

.page-background::after {
        content: "";
        width: 978px;
        height: 976px;
        position: absolute;
        border-radius: 50%;
        z-index: 0;
        transform: translate(50%, 50%) rotate(25deg);
        background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
    }    

.card {
    width: 350px;
    border-radius: 15px;
    background-color: #FFFFFF;
    z-index: 1;
}

.card-header {
    margin-bottom: 65px;
}

.profile {
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}   

.profile-photo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: -65px;
    left: 50%;
}

h1 {
    font-size: 18px;
    margin-bottom: 8px;
}

.profile-age {
    color: #6B7082;
    font-weight: 400;
    margin-left: 8px;
    font-size: 18px;
    }

.profile-location {
    color: #6B7082;
    font-weight: 400;
    font-size: 14px;
    }

.engagement {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 25px 49px;
    border-top: 1px solid #E8E9EC;
}

.engagement p {
    font-size: 10px;
    color: #6B7082;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.engagement h2 { 
    font-size: 18px;
    color: #2E3349;
    font-weight: 700;
    margin-bottom: 8px;
}
